body{
  background-image: url("images/op.jpg");
  background-size: 100% 100%;
}


.header {
  font: italic bold 30px/30px Georgia, sans-serif;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}
.menu {
  text-align: end;
  display: flex;
  flex-direction: column;
}




h1 {
 color: #ffffff;
  text-align: center;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  justify-content: space-evenly ;
  
  
}
.grid img{
  border: 2px solid black;
  border-radius: 50px;
}
.origami {
  
  border-radius: 20px;
  width:310px;
  font-family: fantasy;
  
}


.fd {
  color: #ffffff;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.it {
  text-align:center;
  color:  #ffffff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: black;
}
